body {
    color: white;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(18, 93, 255);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 1px 5px 7px rgba(18,93,255,0.45);
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice-prefix {
    margin: auto;
    padding: 2rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: rgb(34, 202, 65);
}

.incorrect {
    background: rgb(246, 25, 25);
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
    color: black;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid  rgb(34, 202, 65);
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 2rem;
}

#progressBarFull {
    height: 100%;
    background: rgb(34, 202, 65);;
    width: 0%;

}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}